<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleTwitchTTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleTwitchTTS.Properties.Settings>
            <setting name="TextBoxTwitchApi" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxTwitchNick" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxClearEmoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComboBoxInstalledVoiceSelect" serializeAs="String">
                <value />
            </setting>
            <setting name="TtsVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TtsSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlackList" serializeAs="String">
                <value />
            </setting>
            <setting name="TtsSkipCurrent" serializeAs="String">
                <value />
            </setting>
            <setting name="TtsSkipAll" serializeAs="String">
                <value />
            </setting>
            <setting name="TtsIgnore" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitchToken" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightedMessageName" serializeAs="String">
                <value />
            </setting>
            <setting name="TtsMessageType" serializeAs="String">
                <value />
            </setting>
            <setting name="AnecdotChatCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="AnecdotChannelPoints" serializeAs="String">
                <value />
            </setting>
            <setting name="NeuroAnecdotCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="NeuroAnecdotChannelPoints" serializeAs="String">
                <value />
            </setting>
            <setting name="MutedForTimeChannelPointsName" serializeAs="String">
                <value />
            </setting>
            <setting name="MutedForTimeMinute" serializeAs="String">
                <value>0</value>
            </setting>
        </SimpleTwitchTTS.Properties.Settings>
    </userSettings>
</configuration>